<!DOCTYPE html lang="en-us">
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='.9em' font-size='90'%3E🧩%3C/text%3E%3C/svg%3E">
    <title>WordGuesser</title>
  </head>
  <body class="bg-light">
    <div class="jumbotron bg-primary text-white text-center">
      <h1 class="display-4">Play Wordguesser!</h1>
      <p class="lead">Guess the word before you run out of attempts!</p>
    </div>
    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</div>
</body>
</html>
