<div class="text-center mt-4">
  <form method="post" action="/create">
    <button type="submit" class="btn btn-primary btn-lg" style="min-height: 44px; min-width: 44px;">
      Start New Game
    </button>
  </form>
</div>
